input::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: rgb(192,192,192);
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: rgb(192,192,192);
}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: rgb(192,192,192);
}

input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: rgb(192,192,192);
}
